/* // No media query for `xs` since this is the default in Bootstrap */

/* // X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575px) {
    .slider-height {
        min-height: 660px;
    }

    .slider-text p {
        padding: 0;
    }

    .feature-text h3 {
        font-size: 23px;
    }

    .header-border {
        border: none;
    }

    .header-area {
        padding-top: 15px;
        padding-bottom: 5px;
    }

    .slider-text h2 {
        font-size: 42px;
    }

    .product-desc h3 {
        font-size: 18px;
        line-height: 1.5;
    }

    .product-search input {
        width: 250px;
    }

    .profile-info {
        border-radius: 0;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-height {
        min-height: 660px;
    }

    .slider-text p {
        padding: 0;
    }

    .feature-text h3 {
        font-size: 23px;
    }

    .header-border {
        border: none;
    }

    .header-area {
        padding-top: 15px;
        padding-bottom: 5px;
    }

    .slider-text h2 {
        font-size: 48px;
    }

    .product-desc h3 {
        font-size: 18px;
        line-height: 1.5;
    }


    .product-search input {
        width: 250px;
    }

    .profile-info {
        border-radius: 0;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-text p {
        padding: 0 90px;
    }

    .feature-text h3 {
        font-size: 23px;
    }

    .header-border {
        border: none;
    }

    .header-area {
        padding-top: 15px;
        padding-bottom: 5px;
    }

    .product-desc h3 {
        font-size: 20px;
        line-height: 1.5;
    }

    .product-search input {
        width: 250px;
    }

    .profile-info {
        border-radius: 0;
    }

}

/* // Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-text p {
        padding: 0 90px;
    }

    .feature-text h3 {
        font-size: 25px;
    }

    .header-area-main-menu ul li {
        margin: 0 12px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .slider-text p {
        padding: 0 90px;
    }

    .feature-text h3 {
        font-size: 25px;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (min-width: 1400px) and (max-width: 1600px) {}